{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }}: About US{% endblock title %}

{% block content %}
    <div class="container pt-7">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homePage' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">About US</li>
            </ol>
        </nav>
        <div class="row justify-content-center">
            <div class="col-lg-8 mb-5 text-left">
                <p>
                    <strong class="font-weight-bold">Truly</strong> is a social networking service that helps you learn about your 
                    strengths and areas for improvement by receiving constructive and candid 
                    feedback from your employees and friends
                </p>
                <a href="{% url 'homePage' %}" class="btn text-capitalize m-2">Home</a>
                <a href="{% url 'account:register' %}" class="btn btn-secondary text-capitalize m-2">Create account</a>
            </div>
        </div>

    </div>

{% endblock content %}