{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }}: Search{% endblock title %}

{% block content %}
    <div class="container pt-6">
        <h2 class="display-4 mt-3">Search</h2>
        <hr class="m-0 mb-2">
        <p>You search for <strang class="text-success font-weight-bold	">{{search}}</strong></p>

        <div class="row justify-content-center">
            {% if accounts %}
                <div class="col-lg-5 col-10 card  bg-secondary text-center shadow m-3">
                {% for account in accounts %}

                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-4 my-3">
                                <img src="{% if account.avatar %}{{account.avatar.url}}{% else %}{% static 'img/default-avatar.png' %}{% endif %}"
                                    alt="" class="img-fluid rounded-circle shadow mb-2" width="200px">
                            </div>
                            <div class="col-lg-9 col-8 text-left pl-2">
                                <p class="mt-3 mb-0" style="font-size:24px; font-weight: 500">
                                    <a class="user-titlt" href="{{account.get_absolute_url}}">@{{account.user.username}}</a>
                                </p>
                                <small class="m-0 text-muted" style="font-size:16px;">{{account.full_name}}</small>
                            </div>
                        </div>
                        <hr class="m-0">

                {% endfor %}
                </div>
            {% else %}
            <div class="col-lg-6 text-center mb-6">
                <p class="display-1" style="color:#a5b1c2; font-size: 40px">no results</p>
            </div>
            {% endif %}



        </div>
    </div>
{% endblock content %}